imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@DataNormalizerBundle/Resources/config/commands.yml" }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en

framework:
    #esi: ~
    #translator: { fallbacks: ['%locale%'] }
    secret: '%secret%'
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
        strict_requirements: ~
    form: ~
    csrf_protection: ~
    validation: { enable_annotations: true }
    #serializer: { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale: '%locale%'
    trusted_hosts: ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
    fragments: ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug: '%kernel.debug%'
    strict_variables: '%kernel.debug%'

# Doctrine Configuration
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        port: '%database_port%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
        charset: UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/../var/data/data.sqlite"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #path: '%database_path%'

    orm:
        auto_generate_proxy_classes: '%kernel.debug%'
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

# Swiftmailer Configuration
swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    username: '%mailer_user%'
    password: '%mailer_password%'
    spool: { type: memory }

# Mineur twitter stream api
twitter_stream_api_client:
    twitter:
        consumer_key: '%twitter_stream_consumer_key%'
        consumer_secret: '%twitter_stream_consumer_secret%'
        access_token: '%twitter_stream_access_token%'
        access_token_secret: '%twitter_stream_access_token_secret%'

# RS Queue
rs_queue:
    queues:
        tweets: "queues:tweets"
        # another queue...
    serializer: ~
    server:
        redis:
            host: 127.0.0.1
            port: 6379
            database: ~

# OldSound RabbitMQ
#old_sound_rabbit_mq:
#    connections:
#        default:
#            host:     'localhost'
#            port:     5672
#            user:     'guest'
#            password: 'guest'
#            vhost:    '/'
#            lazy:     false
#            connection_timeout: 3
#            read_write_timeout: 3
#
#            # requires php-amqplib v2.4.1+ and PHP5.4+
#            keepalive: false
#
#            # requires php-amqplib v2.4.1+
#            heartbeat: 0
#
#            #requires php_sockets.dll
#            use_socket: true # default false
#        another:
#            # A different (unused) connection defined by an URL. One can omit all parts,
#            # except the scheme (amqp:). If both segment in the URL and a key value (see above)
#            # are given the value from the URL takes precedence.
#            # See https://www.rabbitmq.com/uri-spec.html on how to encode values.
#            url: 'amqp://guest:password@localhost:5672/vhost?lazy=1&connection_timeout=6'
#    producers:
#        load_new_post:
#            connection:       default
#            exchange_options: {name: 'load-new-post', type: direct}
#            service_alias:    my_app_service # no alias by default
#    consumers:
#        load_new_post:
#            connection:       default
#            exchange_options: {name: 'load-new-post', type: direct}
#            queue_options:    {name: 'load-new-post'}
#            callback:         load_new_post_service
